body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.btn{
    height:9rem;
    width:9rem;
    border-radius: 20%;
    border:10px solid black;
    margin:10px;

}
.btn-container{
    display:flex;
    justify-content: center;
    
}
.red{
    background-color: #d95980;
}
.green{
    background-color: #63aac0;
}
.yellow{
    background-color: #f99b45;
}
.blue{
    background-color: #819ff9;
}
.flash{
    background-color: #fff;
}
.userflash{
    background-color: black;
}